<h2>User List</h2>

<div class="user-toolbar">
  <input [(ngModel)]="filterText" placeholder="Filter by name" class="filter-input" />
  <button class="btn-add-user" routerLink="/users/create">
    <i class="fa fa-plus"></i> Thêm mới
  </button>
</div>

<div *ngIf="filterUsers().length > 0; else noUsers">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filterUsers()">
        <td>{{ user.id }}</td>
        <td>{{ user.name | uppercase }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button [routerLink]="['/users', user.id, 'edit']">Edit</button>
          <button>Del</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noUsers>
  <p>No users match the filter.</p>
</ng-template>
